* {
    box-sizing: border-box;
    margin: auto;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "robotoregular", Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.background {
    background-image: url(background.jpg);
    background-color:#2196F3;
}

.first-menu.desktop {
    text-align: center;
    background-image: url("bg-filter.jpg");
}

.first-menu.desktop .container {
    display: flex;
}

.first-menu.desktop a {
    color: #fff;
    padding: 2rem;
    display: block;
    font-weight: 600;
}

.first-menu.desktop label {
    flex-grow: 1;
    text-align: left;
    padding: 0.9rem;
    padding-left: 0px;
    margin: 0px;
    color: white;
    font-size: 3rem;
}

.first-menu.desktop label a {
    padding: 0px;
}

.first-menu.desktop .item:hover {
    background: rgba(3, 60, 105, 0.47);
}

.first-menu.mobile {
    background: rgba(100, 149, 237, 0.9);
    color: #fff;
}

.first-menu.mobile a {
    color: #fff;
}

.first-menu.mobile a:hover {
    background: rgba(4, 74, 132, 0.9);
}

.first-menu.mobile label {
    margin-bottom: 0px;
    padding: 2rem;
}

.notice.desktop {
    padding: 15px 0px;
    background: #f2fcff;
}

.notice.desktop h3 {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.notice.desktop p {
    padding-left: 9rem;
    padding-right: 9rem;
    text-align: justify;
    line-height: 3rem;
    color: grey;
}

.notice.desktop a {
    padding: 1rem;
    color: white;
    font-weight: 600;
    background: #38ccff;
    border-radius: 3%;
}

.promotion {
    text-align: justify;
    background: #f2f2f2;
    margin-top: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.promotion .row {
    margin-left: 0px;
    margin-right: 0px;
}

.promotion .col-sm-5 {
    border-right-style: ridge;
}

.promotion-benefit {
    font-size: 1.7rem;
}

.promotion .fa {
    padding-right: 1rem;
    color: rgb(100, 149, 237);
}

.footer {
    padding-top: 4rem;
    text-align: justify;
}

.footer a {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    display: inline-block;
}

.footer .col-sm-2 label {
    padding: 1rem;
    font-size: 1.5rem;
    color: #337ab7;
}

.footer .col-sm-2 p {
    padding: 1rem;
    font-size: 1.5rem;
}

.backtotop {
    position: fixed;
    width: 5%;
    bottom: 0px;
    right: 3%;
}

.backtotop img {
    width: 100%;
}

.modal-dialog {
    background: #d9edf7;
    text-align: center;
    width: 30%;
}

.sign-up {
    padding: 3rem 6rem;
}

.sign-up h2 {
    margin-top: 0px;
}

.email, .password, .hoten, .sodienthoai, .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.sign-up .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-up-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-up-google{
	display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(214, 21, 21, 0.9);
    color: white;
}

.sign-up .submit {
    color: white;
    background: #3d89ca;
    font-weight: 600;
   
}

.sign-in {
    padding: 3rem 6rem;
}

.sign-in h2 {
    margin-top: 0px;
}

.sign-in .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-in-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-in .submit {
    color: white;
    background: #00b242;
    font-weight: 600;
}

/*CSS TRANG FILTER*/

.filter.desktop .block-left {
    width: 100%;
    float: left;
    margin-top: 3rem;
}

.filter.desktop .block-left .anh {
    position: relative;
}

.filter.desktop .block-left .anh .button {
    position: absolute;
    top: 40%;
    width: 100%;
}

.filter.desktop .block-left .anh .w3-button {
    font-size: 2rem;
    background: none;
    border: none;
    padding: 1rem;
    color: #ffffff;
}

.w3-display-right {
    float: right;
}

.filter.desktop .block-left img {
    width: 100%;
}

.filter.desktop .block-left h4 {
    margin: auto;
}

.filter.desktop .block-left .header {
    display: flex;
    margin-bottom: 2rem;
}

.filter.desktop .block-left .header span {
    flex-grow: 1;
}

.filter.desktop .block-left .row {
    
    margin: 0px;
    text-align: justify;
    
    
    margin-bottom: 30px;
   
    background-color: rgba(222, 217, 217, 0.19)
}

.filter.desktop .block-left .row-header {
    display: flex;
    margin-bottom: 1rem;
}

.filter.desktop .block-left .title {
    color: #128dda;
    font-weight: bolder;
    flex: 4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filter.desktop .block-left .date {
    flex: 1;
    text-align: right;
    font-style: italic;
}

.filter.desktop .block-left .col-sm-3 {
    padding: 0px;
    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    
}

.filter.desktop .block-left .col-sm-3 .button {
    padding-top: 5px;

}

.filter.desktop .block-left .col-sm-3 p {
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    margin-bottom: -2px;
}

.filter.desktop .block-left .col-sm-3 a {
    color: #fff;
}

.filter.desktop .block-left .mota {
    height: 95px;
    overflow: hidden;
}

.filter.desktop .block-left .status {
    margin-bottom: 0px;
    padding: 0.7rem;
    border-radius: 5px;
    background: #dddddd;
    display: none;
}

.filter.desktop .block-left .status.active {
    background: rgb(100, 149, 237);
    color: #ffffff;
    display: inline-block;
}

.filter.desktop .block-left .status.closed.active {
    background: #E91E63;
    color: #ffffff;
}

.filter.desktop .block-left .save {
    margin-bottom: 0px;
    padding: 0.7rem;
    background: #dddddd;
}

.filter.desktop .block-left .save.active {
    background: #4CAF50;
    color: #ffffff;
}

.save-page1, .save-page2, .save-page3, .save-page4, .save-page5 {
    cursor: pointer;
}

input.save-page1, input.save-page2, input.save-page3, input.save-page4, input.save-page5 {
    display: none;
}

input.save-page1:checked ~ label.save.save-page1 {
    color: #ffffff;
    background: #E91E63;
}

input.save-page2:checked ~ label.save.save-page2 {
    color: #ffffff;
    background: #E91E63;
}

input.save-page3:checked ~ label.save.save-page3 {
    color: #ffffff;
    background: #E91E63;
}

input.save-page4:checked ~ label.save.save-page4 {
    color: #ffffff;
    background: #E91E63;
}

input.save-page5:checked ~ label.save.save-page5 {
    color: #ffffff;
    background: #E91E63;
}

.filter.desktop .block-left .fa-users.active {
    color: rgb(100, 149, 237);
    font-size: 2rem;
}

.filter.desktop .block-right {
    width: 20%;
    float: right;
    background: rgb(100, 149, 237);
    margin-top: 3rem;
    font-size: 1.3rem;
}

/*SEARCH TRANG FILTER*/

.filter.desktop .search-box {
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter.desktop .block-right .row {
    margin: 0px;
}

.filter.desktop .search-box p {
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 1rem 1rem 1rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.filter.desktop .search-box select {
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.filter.desktop .search-box button {
    background: #ffa80f;
    width: 100%;
    padding: 1rem;
    color: white;
    border: none;
    margin-bottom: 1rem;
}

.filter.mobile img {
    width: 100%;
}

.filter.mobile .anh {
    position: relative;
}

.filter.mobile .anh .button {
    position: absolute;
    width: 100%;
    top: 40%;
}

.filter.mobile .anh .w3-button {
    font-size: 2rem;
    background: none;
    border: none;
    padding: 2rem;
    color: #ffffff;
}

.filter.mobile .header {
    text-align: center;
    padding: 1rem;
}

.filter.mobile .sort {
    text-align: right;
    margin-bottom: 1rem;
}

.filter.mobile .title {
    text-align: justify;
    margin-bottom: 1rem;
}

.filter.mobile .content {
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top-style: outset;
}

.filter.mobile .container {
    padding: 0px;
}

.filter.mobile .item1 {
    margin-top: 1rem;
}

.filter.mobile .item1 p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter.mobile .item1 .btn {
    margin-bottom: 0;
    margin-top: 0.8rem;
}

.filter.mobile .item2 {
    margin-top: 1rem;
    text-align: center;
}

.filter.mobile .status {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background: #dddddd;
    display: none;
}

.filter.mobile .status.active {
    background: rgb(100, 149, 237);
    color: #ffffff;
    display: inline-block;
}

.filter.mobile .status.closed.active {
    background: #E91E63;
    color: #ffffff;
}

.filter.mobile .save {
    margin-top: 1rem;
    margin-bottom: 0px;
    padding: 0.7rem;
    background: #dddddd;
    display: block;
}

.filter.mobile .save.active {
    background: #4CAF50;
    color: #ffffff;
}

.filter.mobile .save a {
    color: #ffffff;
}

.save-page1-mobile, .save-page2-mobile, .save-page3-mobile, .save-page4-mobile, .save-page5-mobile {
    cursor: pointer;
}

input.save-page1-mobile, input.save-page2-mobile, input.save-page3-mobile, input.save-page4-mobile, input.save-page5-mobile {
    display: none;
}

input.save-page1-mobile:checked ~ label.save.save-page1-mobile {
    color: #ffffff;
    background: #E91E63;
}

input.save-page2-mobile:checked ~ label.save.save-page2-mobile {
    color: #ffffff;
    background: #E91E63;
}

input.save-page3-mobile:checked ~ label.save.save-page3-mobile {
    color: #ffffff;
    background: #E91E63;
}

input.save-page4-mobile:checked ~ label.save.save-page4-mobile {
    color: #ffffff;
    background: #E91E63;
}

input.save-page5-mobile:checked ~ label.save.save-page5-mobile {
    color: #ffffff;
    background: #E91E63;
}

.fa-users {
    display: none;
}

.filter.mobile .fa-users.active {
    color: rgb(100, 149, 237);
    display: initial;
}

.filter.mobile .search-box {
    background-image: url("bg-search-box.jpg");
}

.filter.mobile .search-box p {
    background: rgba(100, 149, 237, 0.9);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 1rem 1rem;
    margin-bottom: 0px;
    margin-top: 2rem;
    font-size: 1.6rem;
}

.filter.mobile .search-box .row {
    margin: 0px;
    padding-top: 1rem;
    background: rgba(100, 149, 237, 0.9);
    margin-bottom: 2rem;
}

.filter.mobile .search-box .container {
    padding: 1rem;
}

.filter.mobile .search-box select {
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.filter.mobile .search-box button {
    background: #ffa80f;
    width: 100%;
    padding: 1rem;
    color: white;
    border: none;
    margin-bottom: 1rem;
}

.mobile .pagination a {
    padding: 0.5rem 1rem;
}

.sotrang {
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: rgb(58, 117, 224);
    color: white;
    border-radius: 50%
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*Háº¾T CSS TRANG FILTER*/

.mobile {
    display: none;
}

@media (max-width: 767px) {
    .first-menu {
        display: none;
    }

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .footer-center a {
        padding: 0px;
    }

    .backtotop {
        width: 10%;
    }

    .modal-dialog {
        width: inherit;
        margin-top: 8rem;
    }

    .sign-up {
        padding: 1rem 2rem;
    }

    .sign-in {
        padding: 1rem 2rem;
    }

    .promotion .col-sm-5 {
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container.featured-cities.desktop .p2 {
        position: absolute;
        width: 90%;
        top: 72%;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .first-menu.desktop {
        font-size: 1rem;
    }

    .first-menu.desktop label {
        font-size: 2rem;
        padding: 1.2rem 0;
    }

    .search-box.desktop {
        font-size: 1rem;
    }

    .filter.desktop .search-box p {
        font-size: 1rem;
    }

    .filter.desktop .search-box {
        font-size: 1rem;
    }
    .modal-dialog {
        width: 50%;
    }
}

button, select {
    width: 100%;
    padding: 1rem 2rem;
    border-radius:5px;
}

element.style {
    color: black;
    background-color: yellow;
}

.search-box .row {
    
    padding-top: 30px;
    
    margin-bottom: 2rem;
   
    
}


.search-box button {
    background: rgba(255, 227, 15, 0.94);
    width: 100%;
    padding: 1rem;
    color: black;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
}

table {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
}

table, td, th {
    border: 1px solid grey;
}

.filter.desktop .block-left img {
    width: 100%;
    height: 270px;
}

.col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
    
}


p {
    margin: 0 0 10px;
    text-align: center;
   
}

.h5, h5 {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom:7.2px;
}

.h3, h3 {
    font-size: 24px;
    padding-left: 20px;
    text-align: center;
}

.h4, h4 {
    font-size: 18px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.search-box.desktop {
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: -40px;
}


.noti {
    background-color: rgba(51, 122, 183, 0.7);
    
}

button.mai {
    height: 67px;
    background-color: yellow;
    border: none;
    font-size: 24px;
}




.container.featured-cities.mobile {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container.featured-cities.mobile .col-xs-12 {
    margin-bottom: 1rem;
}

.container.featured-cities.mobile .p1 {
    position: absolute;
    width: 91%;
    top: 27%;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.container.featured-cities.mobile .p2 {
    position: absolute;
    width: 93%;
    top: 65%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.container.featured-cities.mobile span {
    border: 1px solid;
    padding: 1rem;
    background: rgba(158, 158, 158, 0.34);
}




#myBtn {
   display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #286090;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
}

#myBtn:hover {
  background-color: #555;
  width: 50px;
}







@media all and (max-width: 414px) {
  
.modal-dialog {
    background: #f5f5f5;
    text-align: center;
    width: 94%;
    border-radius: 5px;
}


}



@media all and (min-width: 768px) {
  
.modal-dialog {
    background: #f5f5f5;
    text-align: center;
    width: 50%;
    border-radius: 5px;
}


  
}


@media all and (min-width: 1024px) {
  
.modal-dialog {
    background: #f5f5f5;
    text-align: center;
    width: 40%;
    border-radius: 5px;
}



}

@media all and (min-width: 1025px) {
  
.modal-dialog {
    background: #f5f5f5;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}



}

.fa{
	padding-right: 10px;
}