
@{
    ViewBag.Title = "Index";
}
<div class="noti2">
    <div class="container featured-cities desktop">
        <h2 class="wow zoomInUp" data-wow-duration="1s" data-wow-delay="0.2s">Địa điểm tại các thành phố lớn</h2>
        <br>
        <div class="row">
            <div class="col-sm-4">

                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="@Url.Action("Product", "Home", new { @City = "Hà Nội" })">
                                <img src="~/Image/hanoi.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Hà Nội</span></p>

                            </a>
                            <a href="@Url.Action("Product", "Home", new { @City = "Hà Nội" })">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">30.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center;">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="../Home/Product">
                                <img src="~/Image/danang.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Đà Nẵng</span></p>

                            </a>
                            <a href="../Home/Product">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">20.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center;">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="../Home/Product">
                                <img src="~/Image/hcm.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Sài Gòn</span></p>
                            </a>
                            <a href="../Home/Product">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">60.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center;">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4">
                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="../Home/Product">
                                <img src="~/Image/hue.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Huế</span></p>

                            </a>
                            <a href="../Home/Product">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">80.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="../Home/Product">
                                <img src="~/Image/dalat.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Đà Lạt</span></p>

                            </a>
                            <a href="../Home/Product">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">50.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center;">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="smdiadiem">
                    <div class="diadiem ">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="../Home/Product">
                                <img src="~/Image/nhatrang.jpg" style="border-radius: 5px" class="img-responsive">
                                <p class="p1" style="padding-left: 30px"><span style="background-color: rgba(0, 0, 0, 0.6);">Nha Trang</span></p>

                            </a>
                            <a href="file2.html">
                                <div class="overlay">
                                    <h3 style="color: white;padding-top: 60px">20.000 phòng cho thuê</h3>

                                    <p style="color: white;text-align: center;">Xem chi tiết</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

